* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}
@media (max-width: 768px) {

    .main_mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_mobile nav {
        position: fixed;
        width: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: white;
        z-index: 3;
    }

    /* First Layer Navbar */


    #first_layer {
        width: 100%;
        padding: 15px 0 15px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #first_layer img {
        width: 40%;
        height: auto;
    }
    #first_layer a {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        background: blue;
        padding: 10px;
        border-radius: 5px;
    }
    #toggler {
        position: relative;
    }
    #toggler input {
        position: absolute;
        width: 30px;
        height: 30px;
        opacity: 0;
        z-index: 3;
        top: -30px;
        left: 0;
        cursor: pointer;
    }
    #hamburger {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -32px;
        left: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hamburger > div {
        position: relative;
        width: 70%;
        height: 2px;
        background: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;
  }
  #hamburger > div:before, #hamburger > div:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: gray;
      top: 10px;
  }
  #hamburger > div:after {
      top: -10px;
  }
  #pop_up {
      position: fixed;
      width: 90%;
      height: 100vh;
      background: #F8F8FF;
      top: 0;
      left: 0;
      padding: 10px;
      z-index: 2;
      overflow: hidden;
      visibility: hidden;
      /* background-color: yellow; */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex;
      
  }
  #pop_up img {
      width: 40%;
      height: auto;
  }
  #icons_texts {
      width: 100%;
      height: 100%;
      /* background: green; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
  }
  #icons_texts p {
      font-size: 2rem;
      padding-left: 0.5em;
  }
  .dropdown {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }
 #toggler input:checked ~ #pop_up {
      visibility: visible;
  }

  /* Second Layer Navbar */


  #second_layer {
      width: 100%;
      /* background: yellow; */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
  }
  #second_layer input {
      position: relative;
      width: 90%;
      height: 40px;
      border-radius: 20px;
  }
  #second_layer .fa-times {
      position: absolute;
      left: 420px;
  }
  #second_layer .fa-search {
      position: absolute;
      left: 480px;
  }

  /* Third Layer */

  #third_layer {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ccc;
  }
  #third_layer a {
      text-decoration: none;
      color: gray
  }

  #third_layer a:hover {
      border-bottom: 2px solid blue;
      transition: all 0.5s ease;
  }

  /* Body */
  #main_body {
      width: 100%;
      height: auto;
      margin-top: 230px;
  }
  .ads {
      width: 90%;
      margin: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid gray;
      border-radius: 5px;
      margin-bottom: 10px;
  }
  .small_title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  .small_title .bold {
      font-weight: 600;
      margin-right: 5px;
  }
  .small_title a {
      text-decoration: none;
      color: gray;
  }
  .title a {
      text-decoration: none;
      color: blue;
      font-size: 1.1rem;
  }
  .hello {
    text-decoration: none;
    padding: 5px;
    color: blue;
    width: 100%;
    border-bottom: 1px solid gray;
  }
  .ads_inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
  }
  #people_also_search_for {
      width: 90%;
      height: auto;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      border: 1px solid gray;
      border-radius: 5px;
      margin-bottom: 10px;
  }
  .also_results {
      width: 80vw;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: auto;
      padding: 5px;
      
  }
  .also_search {
      width: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
      border: 1px solid gray;
      margin-right: 10px;
      border-radius: 5px;
  }
  .also_search .fa-search {
      margin-right: 5px;
      margin-left: 5px;
  }
  #not_an_ad {
      width: 90%;
      height: auto;
      margin: auto;
      display: column;
      justify-content: center;
      align-items: flex-start;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
  }
  #not_an_ad > div {
      padding-bottom: 10px;
  }
  .blah a {
      width: 150px;
      /* height: 30px; */
      text-decoration: none;
      color: blue;
      /* border: 1px solid gray; */
      border-radius: 5px;
      margin-right: 15px;
      /* background: yellow; */
  }
  #icon_and_url {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  #icon_and_url .fa-fort-awesome {
      margin-right: 10px;
  }
  #icon_and_url a {
      text-decoration: none;
      color: gray;
  }
  #title_of_result a {
      text-decoration: none;
      color: blue;
  }
  #dropdown_menu {
      width: 90%;
      height: auto;
      /* margin: auto; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
      margin: 10px auto;
  }
  #dropdown_results {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 10px auto;
  }
  .shown_results {
      width: 100%;
      height: auto;
      position: relative;
      /* background: yellow; */
      overflow: hidden;
  }
  .hey, .just_another_div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  .just_another_div {
      margin-right: 270px;
  }
  /* .fa-chevron-down {
      margin-left: auto;
  } */
  .shown_results input {
      width: 100%;
      height: 20px;
      z-index: 2;
      cursor: pointer;
      position: absolute;
      opacity: 0;
  }
  .results_bleh {
      width: 100%;
      height: auto;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
  }
  .first_layer_result {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* overflow: auto; */
  }
  .logo_text {
      display: grid;
      grid-template-rows: 1fr;
      width: 100px;
      height: 100px;
      margin-right: 10px;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
  }
  .logo_text img {
      width: 70%;
      margin: auto;
  }
  .fa-chevron-up {
      display: none;
  }
  .shown_results input:checked ~ .results_bleh {
      display: block;
  }
  .shown_results input:checked ~ .hey .fa-chevron-down {
      display: none;
  }
  .shown_results input:checked ~ .hey .fa-chevron-up {
      display: inline;
  }
  #last_card {
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border: 1px solid gray;
      border-radius: 5px;
      margin: 10px auto;
      padding: 10px;
  }
  .last_results {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  .video {
      margin-right: 20px;
  }
  iframe {
      border-radius: 5px;
  }
  .title_of_video a {
      text-decoration: none;
      color: blue;
  }
  #norlyn {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px auto;
    padding: 10px;
}
  .second_to_the_last {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 10px 0;
  }
  .second_to_the_last .fa-search {
      margin-right: 20px;
  }
  footer, #links {
      width: 100%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #F1F1F1;
      padding: 10px;
  }
  #first_link, #second_link {
      width: 60%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      
      padding: 10px 0;
  }
  #first_link a, #second_link a {
      text-decoration: none;
      color: gray;
  }
  
}
